/__pycache__
.Fitts.py
/emg_logs/*
/libemg
/pickles/*
/fitts_logs/*
*.csv
.libemg*
Archive
libemg
/images
/user_sgt
*.pt
checkpoints1/th_max_dic.npy
/checkpoints1
pilot*
checkpoints*
emg_logs
pickles
test*
*.png
/fitts_results*
fitts_analysis*.py
!fitts_analysis.py
/Analysis
fitts_logs*
*.txt
/main_study